svg {
  margin: 0 auto;
  display: flex;
}
div.tooltip {
        position: absolute;
        text-align: left;
        width: 350px;
        font: 15px sans-serif;
        border: 1px solid #ccc;
        padding: 10px;
        background: #fff;
        pointer-events: none;
      }
.links {
			  stroke: #ccc;
			}

.nodes text {
  pointer-events: none;
  font: sans-serif;
}

.bar {
            fill: #d63447;
            opacity: 0.8;
        }

        .axis path,
        .axis line {
            fill: none;
            stroke: #ccc;
            shape-rendering: crispEdges;
        }
        .axis text {
          fill: black;
          font-size: 18px;
          opacity: 0.8;
        }

        #bullet-select {
          display: block;
          color: white;
          cursor: pointer;
          background: #d63447;
          opacity: 0.8;
          border: 2px solid white;
          font-size: 18px;
          padding: 0.5em;
          padding-right: 2em;
          -webkit-border-radius:4px;
          -moz-border-radius:4px;
          border-radius:4px;
          /* -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none; */
        }
#myVideo {
  width: 60%;
  margin: 2.5% auto;
  display: flex;
}
#myVideoComment {
  margin-bottom: 5%;
  text-align: center;
}

div.tooltip IMG {
  width: 200px;
  height: 200px;
}
